# Task 2: Data formatting

In [139]:
import pandas as pd
import numpy as np

#importing the dataset
df = pd.read_csv("dataset.csv")

In [140]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,196,Gd,TA,PConc,Gd,TA,No,GLQ,706,Unf
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,TA,TA,CBlock,Gd,TA,Gd,ALQ,978,Unf
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,162,Gd,TA,PConc,Gd,TA,Mn,GLQ,486,Unf
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,TA,TA,BrkTil,TA,Gd,No,ALQ,216,Unf
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,350,Gd,TA,PConc,Gd,TA,Av,GLQ,655,Unf

In [141]:
df.shape

(99, 36)

In [142]:
df.isnull().sum()

Id               0
MSSubClass       0
MSZoning         0
LotFrontage     14
LotArea          0
Street           0
Alley           93
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
MasVnrType       0
MasVnrArea       0
ExterQual        0
ExterCond        0
Foundation       0
BsmtQual         3
BsmtCond         3
BsmtExposure     3
BsmtFinType1     3
BsmtFinSF1       0
BsmtFinType2     3
dtype: int64

In [143]:
# filling numerical data with mean
df['LotFrontage'].fillna(int(df['LotFrontage'].mean()), inplace=True)

# filling remaining categorical data with mode
df = df.fillna(df.mode().iloc[0])

In [144]:
# All the missing values are replaced
df.isnull().sum().sum()

0